@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --header-bar-height: 30px;
}

* {
  padding: 0;
  margin: 0;
}
 
#app {
  border-radius: 10px;
}

body {
  padding-top: calc(var(--header-bar-height) + 10px);
  padding-left: 10px;
  padding-right: 10px;
}

.titlebar {
  height: var(--header-bar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  background: #5bbec3;
}
